ADMIN_EMAIL=admin@acccacademy@gmail.com
ADMIN_PASSWORD_HASH=$2b$12$jaYqHZz.e10vcdNRg1Je6.3q.0gl79xoILAQ.MD9rC/IlgWtawdOm
JWT_SECRET=CHANGE_THIS_TO_A_VERY_LONG_RANDOM_SECRET_STRING
CLIENT_URL=https://acccacademy.pages.dev
NODE_ENV=production
PORT=3001
